Instalacion de librerias base

In [9]:
import pandas as pd
from sqlalchemy import create_engine

Extracion

In [10]:
engine = create_engine('postgresql+psycopg2://postgres:yhomira@localhost:5432/postgres')
df_trades=pd.read_sql('select * from trades', con=engine)

In [11]:
df_countries=pd.read_json('data/country_data.json')

In [14]:
df_codes=pd.read_csv('data/hs_codes.csv')
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN
...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old

In [15]:
df_parents=df_codes[df_codes['Level']==2].copy()