Instalacion de librerias base

In [1]:
import pandas as pd
from distributed.utils_test import client
from pyarrow import int64
from sqlalchemy import create_engine
from twisted.conch.insults.window import cursor

Extracion

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:yhomira@localhost:5432/postgres')
df_trades=pd.read_sql('select * from trades', con=engine)

In [3]:
df_countries=pd.read_json('data/country_data.json')

In [4]:
df_codes=pd.read_csv('data/hs_codes.csv')
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN
...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old

In [5]:
df_parents=df_codes[df_codes['Level']==2].copy()

TRANSFORMACION

Limpiamos , solo seleccionamos los 'Code_comm' que no son nulos

In [6]:
df_codes=df_codes[df_codes['Code_comm'].notnull()]
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding)
...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old

Creamos una funcion para que limpie y extraiga el codigo y su parent

In [7]:
def clean_code(text):
    text=str(text)
    parent_code=None
    if len(text)==11:
        code=text[:5]
        parent_code=text[:1]
    else:
        code=text[:6]
        parent_code=text[:2]
    
    try:
        parent=df_parents[df_parents['Code_comm']==parent_code]['Description'].values[0]
    except:
        parent=None
    
    return code,parent

aplicamos funcion y creamos nuevas columnas

In [8]:
df_codes[['clean_code','parent_description']]=df_codes.apply(lambda x :clean_code(x['Code']),axis=1, result_type='expand')

C:\Users\Pc\AppData\Local\Temp\ipykernel_12928\4294278763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes[['clean_code','parent_description']]=df_codes.apply(lambda x :clean_code(x['Code']),axis=1, result_type='expand')
C:\Users\Pc\AppData\Local\Temp\ipykernel_12928\4294278763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes[['clean_code','parent_description']]=df_codes.apply(lambda x :clean_code(x['Code']),axis=1, result_type='expand')

In [9]:
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS
...,...,...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs",970200,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material",970300,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi...",970400,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...,970500,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old,970600,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

Seleccionado solo datos

In [10]:
df_codes[df_codes['clean_code'].notnull()][['clean_code','Description','parent_description']]

,clean_code,Description,parent_description
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS
2,10021,LIVE ANIMALS,LIVE ANIMALS
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS
5,10121,Pure-bred breeding horses,LIVE ANIMALS
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS
...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [11]:
df_codes['id_code']=df_codes.index+1
df_codes['clean_code']=df_codes['clean_code'].astype('int64')
df_codes

C:\Users\Pc\AppData\Local\Temp\ipykernel_12928\1370295949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes['id_code']=df_codes.index+1
C:\Users\Pc\AppData\Local\Temp\ipykernel_12928\1370295949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes['clean_code']=df_codes['clean_code'].astype('int64')

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description,id_code
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS,2
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS,3
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS,4
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS,6
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS,7
...,...,...,...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs",970200,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7433
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material",970300,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7434
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi...",970400,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7435
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...,970500,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7436
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old,970600,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7437

Transformacion de datos de paises

In [12]:
df_countries

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,United States Minor Outlying Islands,None,None,UM,UMI,581.0,ISO 3166-2:UM,Oceania,Micronesia,None,9.0,57.0,NaN
269,Virgin Islands (British),None,None,VG,VGB,92.0,ISO 3166-2:VG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
270,Virgin Islands (U.S.),None,None,VI,VIR,850.0,ISO 3166-2:VI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
271,Wallis and Futuna,None,None,WF,WLF,876.0,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN
272,Western Sahara,None,None,EH,ESH,732.0,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN

In [13]:
df_countries=df_countries[['alpha-3','country','region','sub-region']]

In [14]:
df_countries=df_countries[df_countries['alpha-3'].notnull()]

In [15]:
df_countries['id_country']=df_countries.index+1

Realizando un merge

In [16]:
df_trades_clean=df_trades.merge(df_codes[['clean_code','id_code']],how='left',left_on='comm_code',right_on='clean_code')

In [17]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933
...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925

In [18]:
df_trades_clean = df_trades_clean.merge(df_countries[['alpha-3', 'id_country']], how='left', left_on='country_code', right_on='alpha-3')

In [19]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940,SYC,155
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941,SYC,155
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945,SYC,155
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946,SYC,155
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925,SYC,155

Transformacion de datos de transacciones

In [20]:
def create_dimension(data,id_name):
    list_keys=[]
    value=1
    for _ in data:
        list_keys.append(value)
        value+=1
    return pd.DataFrame({id_name:list_keys,'values':data})

In [21]:
df_quantity=create_dimension(df_trades_clean['quantity_name'].unique(),'id_quantity')
df_quantity

    id_quantity                          values
0             1                 Number of items
1             2             Weight in kilograms
2             3                     No Quantity
3             4                Volume in litres
4             5                 Number of pairs
5             6              Number of packages
6             7                Length in metres
7             8           Area in square metres
8             9  Electrical energy in thousands
9            10          Volume in cubic meters
10           11              Thousands of items
11           12                Weight in carats

In [22]:
df_flow = create_dimension(df_trades_clean['flow'].unique(), 'id_flow')
df_flow

   id_flow     values
0        1     Import
1        2     Export
2        3  Re-Export
3        4  Re-Import

In [23]:
df_year = create_dimension(df_trades_clean['year'].unique(), 'id_year')
df_year

    id_year  values
0         1    1998
1         2    1997
2         3    1996
3         4    1995
4         5    1994
5         6    2016
6         7    2015
7         8    2014
8         9    2002
9        10    2000
10       11    2013
11       12    2012
12       13    2011
13       14    2010
14       15    2009
15       16    2008
16       17    2007
17       18    2006
18       19    2005
19       20    2004
20       21    2003
21       22    2001
22       23    1999
23       24    1993
24       25    1992
25       26    1991
26       27    1990
27       28    1989
28       29    1988

In [24]:
df_trades_clean=df_trades_clean.merge(df_quantity, how='left' , left_on='quantity_name', right_on='values')

df_trades_clean=df_trades_clean.merge(df_flow, how='left' , left_on='flow', right_on='values')

df_trades_clean=df_trades_clean.merge(df_year, how='left' , left_on='year', right_on='values')

In [25]:
df_trades_clean['id_trades'] = df_trades_clean.index+1

In [26]:
df_trades_final =df_trades_clean[['id_trades','trade_usd','kg','quantity','id_code','id_country','id_flow','id_year']].copy()

In [27]:
df_trades_final

,id_trades,trade_usd,kg,quantity,id_code,id_country,id_flow,id_year
0,1,1431426.0,0.0,23000.0,6929,155,1,1
1,2,31406.0,0.0,2545.0,6931,155,1,1
2,3,950.0,0.0,300.0,6931,155,2,1
3,4,950.0,0.0,300.0,6931,155,3,1
4,5,18251.0,0.0,450.0,6933,155,1,1
...,...,...,...,...,...,...,...,...
6216348,6216349,3399.0,0.0,283.0,6940,155,1,23
6216349,6216350,816.0,0.0,199.0,6941,155,1,23
6216350,6216351,31387.0,0.0,1325.0,6945,155,1,23
6216351,6216352,8749.0,0.0,1566.0,6946,155,1,23
6216352,6216353,1162965.0,0.0,59920.0,6925,155,1,1

In [28]:
df_countries=df_countries[['id_country','alpha-3','country','region','sub-region']]

In [29]:
df_codes=df_codes[['id_code','clean_code','Description','parent_description']]

LOAD: FASE DE CARGAR NUESTROS DATOS TRANSFORMADOS

In [85]:
df_trades_final.to_csv('target/trades.csv',index=False,sep='|')
df_codes.to_csv('target/codes.csv',index=False,sep='|')
df_countries.to_csv('target/countries.csv',index=False,sep='|')
df_quantity.to_csv('target/quantity.csv',index=False,sep='|')
df_flow.to_csv('target/flow.csv',index=False,sep='|')
df_year.to_csv('target/years.csv',index=False,sep='|')

In [31]:
!pip install boto3

Requirement already satisfied: boto3 in c:\users\pc\anaconda3\lib\site-packages (1.35.20)
Requirement already satisfied: botocore<1.36.0,>=1.35.20 in c:\users\pc\anaconda3\lib\site-packages (from boto3) (1.35.20)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\pc\anaconda3\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\pc\anaconda3\lib\site-packages (from boto3) (0.10.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\pc\anaconda3\lib\site-packages (from botocore<1.36.0,>=1.35.20->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\pc\anaconda3\lib\site-packages (from botocore<1.36.0,>=1.35.20->boto3) (1.26.16)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.36.0,>=1.35.20->boto3) (1.16.0)

In [32]:
!pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\users\pc\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (1.4.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (2023.3.post1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (4.12.2)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (1.35.20)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (2.31.0)
Requirement already satisfied: lxml>=4.6.5 in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (4.9.3)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (1.35.20)
Requirement already satisfied: packaging in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (23.1)
Requirement already satisfied: setuptools in c:\users\pc\anaconda3\lib\site-packages (from redshift_connector) (68.0.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\pc\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.4)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\pc\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.0)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\pc\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\pc\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\pc\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.16)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pc\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2024.8.30)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\pc\anaconda3\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)

In [101]:
import os
import boto3
import redshift_connector
from dotenv import load_dotenv

load_dotenv()
client=boto3.client(
    's3',
    aws_access_key_id=os.environ.get('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.environ.get('AWS_SECRET_ACCESS_KEY'),
)
conn=redshift_connector.connect(
    host=os.environ.get('HOST'),
    database=os.environ.get('DATABASE'),
    port=5439,
    user=os.environ.get('USER'),
    password=os.environ.get('PASSWORD')
)
cursor=conn.cursor()

In [90]:
conn.close()

In [116]:
def load_file(file_name):
    load_dotenv()
    table_name=file_name.split('.')[0]
    client.upload_file(
        Filename='target/{}'.format(file_name),
        Bucket='practicaplatzi',
        Key='course_etl_target/{}'.format(file_name),
    )
    sentence = f'''
    COPY public.{table_name}
    FROM 's3://practicaplatzi/course_etl_target/{file_name}'
    CREDENTIALS 'aws_access_key_id={os.environ.get('AWS_ACCESS_KEY_ID')};aws_secret_access_key={os.environ.get('AWS_SECRET_ACCESS_KEY')}'
    CSV
    DELIMITER '|'
    REGION 'us-east-2'
    IGNOREHEADER 1;
    '''


    try:
        cursor.execute(sentence)
        conn.commit()  # Asegúrate de confirmar la transacción
        print('OK en la tabla ' + table_name)
    except Exception as e:
        print(f"Error en la tabla {table_name}: {str(e)}")

In [103]:
load_file('years.csv')

OK en la tabla years

In [117]:
load_file('trades.csv')

Error en la tabla trades: {'S': 'ERROR', 'C': '25P02', 'M': 'current transaction is aborted, commands ignored until end of transaction block', 'F': '/home/ec2-user/padb/src/pg/src/backend/tcop/postgres.c', 'L': '4749', 'R': 'exec_bind_message'}

In [105]:
load_file('quantity.csv')

OK en la tabla quantity

In [106]:
load_file('codes.csv')

OK en la tabla codes

In [107]:
load_file('flow.csv')

OK en la tabla flow

In [108]:
load_file('countries.csv')

OK en la tabla countries

In [110]:
conn.commit()

In [ ]:
conn.close()